
// Colors
$white: #ffffff;
$black: #000000;

$grey-light: #e5e7e7;
$grey-dark: #1d1d1d;

// Fonts
$padauk: 'Padauk', sans-serif;
$roboto: 'Roboto', sans-serif;

// Menu
$bar-width: 22px;
$bar-height: 2px;
$bar-spacing: 6px;


